@{
    Layout = "_Layout";
}
@model IEnumerable<SistemaNomina.Models.Department>

<h1>Lista de Departamentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Departamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DeptName</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Departments" asp-action="Create">Agregar Departamento</a>